.darkModeButtonContainer {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.darkModeButtonText {
    font-weight: 600;
}